$prefix: search-list;

.#{$prefix} {



  &__item {
    padding-left: 72px;
    height: 48px;
    line-height: 48px;
  }
  &__item--meta {
    padding-left: 16px;
  }
  &__info {
    display: flex;
  }
}